<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${products}" class="container my-5">
                    <p class="my-5">
                        <a href="/products/signup" class="btn btn-primary"><i
       class="fas fa-plus-square ml-2"> Add Product</i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No products yet!</h2>
                        <div th:case="*">
                        	<form th:action = "@{/products/list}" method="get">
                        		<input id="txtSearch" type="text" name = "keyword">
                        		<button type="submit">Search</button>
                       		</form>
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Denumire Produs</th>
                                        <th>Pret</th>
                                        <th>dDescriere</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product : ${products}">
                                        <td th:text="${product.denumireProdus}"></td>
                                        <td th:text="${product.pret}"></td>
                                        <td th:text="${product.descriere}"></td>
                                        <td><a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary"><i class="fas fa-broom ml-2"></i></a></td>
                                        <td><a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-primary"><i class="fas fa-trash ml-2"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>